.game {
	width: 100%;

	&__card {
		width: 100%;
		color: white;
		cursor: pointer;
		transition: 0.2s;
		border-radius: 12px;
		border: 1.5px solid transparent;

		&__genres {
			text-align: center;
			margin-bottom: 15px;
		}

		&__gameTitle {
			margin-top: 10px;
			margin-bottom: 12.5px;
			font-size: 24px;
			text-align: center;
		}

		&__image img {
			width: 100%;
			border-radius: 12px;
			transition: 0.2s;
		}
	}

	&__card:hover {
		border: 1.5px solid lightgray;
	}
}
